<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <h1>QUINZE CINQ BOBY</h1>
  <div style="float:right; padding-right: 50px;">
    <textarea id="copyarea" rows="10" cols="100"><%= copyarea %>
    </textarea>
    </div>
    <div>
      <form action="/save/" method="post">
	<p>
	  <label for="sprint">Sprint de la semaine : </label><br/>
	  <textarea rows="4" cols="50" name="sprint" id="sprint"><%= sprint %></textarea>
	</p>
	<p>
	<label for="old">Hier j'ai : </label><br/>
	<textarea rows="4" cols="50" name="old" id="old"><%= hier %></textarea>
	</p>
	<p>
	<label for="news">Aujourd'hui j'ai : </label><br/>
	<textarea rows="4" cols="50" name="news" id="news"><%= auj %></textarea>
	</p>
	<p>
	  <label for="mood">Mood of the day : </label><br/>
	  <textarea rows="4" cols="50" name="mood" id="mood"><%= mood %></textarea>
	</p>
	<input type="submit" value="Save"/><br/>
      </form>
      <form method="post" action="/copy/">
	<input type="submit" value="Copy"/>
	</form>
    </div>
</body>
</html>
